.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.image-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and(max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
