.face-container {
  margin-top: 2rem;
  display: flex;
}

.face-hero {
  margin-top: 3rem;
  margin-bottom: 1rem;
  position: absolute;
}

#inputimage {
  margin-top: -2rem;
  padding: 2rem;
  border: 2px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  @media screen and (max-width: 1200px) {
    width: 70%;
    height: auto;
    margin-left: 8.5rem;
    margin-right: 3.5rem;
  }
  @media screen and (max-width: 700px) {
    width: 70%;
    height: auto;
    margin-left: 3.5rem;
    margin-right: 0rem;
    padding: 0;
  }
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
